html {
    overflow-x: hidden;
  }
  
  a {
    text-decoration: none;
  }

  li{
    list-style: none;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    background-image: linear-gradient(#F7F7F7, #D6D6D6);
    width: 100vw;
    height: 100vh;
  }
  
  /*-------------------------------------------*\
     Containers
  \*-------------------------------------------*/
  #pageContent {
    width: 100vw;
    height: calc(100vh - 60px);
    position: absolute;
    top: 60px;
    margin: 0;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
  }

  /*-------------------------------------------*\
     General
  \*-------------------------------------------*/
  .vertical-margin {
    margin: auto auto;
  }
  
  .content-align-center {
    text-align: center;
  }
  
  .content-align-left {
    text-align: left;
  }
  
  .content-align-right {
    text-align: right;
  }
  
  .display-center {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  

  .close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
  }
  .close:hover {
    opacity: 1;
  }
  .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: '  ';
    height: 33px;
    width: 2px;
    background-color: #333;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }

.overlay{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 998;
  background: rgba(0, 0, 0, 0.3);
}

.menu{
  position: fixed;
  display: none;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  height: 90%;
  border: black;
  border-style: solid;
  align-self: centre;
  background-image: linear-gradient(#F7F7F7, #D6D6D6);
  z-index: 999;
}


.close-modal-button {
  position: relative;
  top: 0;
  left: 0;
  font-size: 36px;
  color: #000;
}

#display-drive-name{
  right: 0;
}

.modal-header{
  position: relative;
}

.modal-left-container{
  float: left;
}

.modal-right-container{
  float: right;
}

header{
  padding-bottom: 5vh;
}

.name-placeholder{
  padding: 5px;
  font-size: 2em;
}

input{
  color: #000;
}

.permission-container{
  float: right;
}