body{
    position: relative;
}

nav{
    margin-bottom: 25px;
    border-bottom: solid;
    padding: 20px;
}

li{
    z-index: 1;
    padding: 5px;
    border-color: grey;
    border-style: solid;
    list-style-type: none;
    font-weight: bold;
    font-size: 20px;
}

#drive-list{
    padding-left: 10vw;
    padding-right: 10vw;
}

#tile{
    float: left;
    padding: 1vw;
    position: relative;
}

figcaption{
    text-align: center;
}

ul{
    padding: 0;
}