body{
    position: relative;
}

nav{
    margin-bottom: 25px;
    border-bottom: solid;
    padding: 20px;
}

li{
    z-index: 1;
    padding: 5px;
    border-color: grey;
    border-style: solid;
    list-style-type: none;
    font-weight: bold;
    font-size: 20px;
}

.menu{
    position: fixed;
    display: none;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    height: 90%;
    border: black;
    border-style: solid;
    align-self: centre;
    background-image: linear-gradient(#F7F7F7, #D6D6D6);
    z-index: 999;
}